# Binaries for programs and plugins
/bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/
/node_modules/

# Generated Go code
/backend/recap/generated/
/backend/recap/internal/controller/http/recap/mocks/
/backend/recap/internal/usecase/profile/mocks/
/backend/recap/internal/usecase/recap/mocks/
/backend/recap/internal/usecase/sharedrecap/mocks/

# Go workspace file
go.work
go.work.sum

# env file
.env
/deploy/.env.production
/deploy/current-image.env
/deploy/previous-image.env

# Editor/IDE
.idea/
# .vscode/

# claude context file
CLAUDE.md
