HTTP_ADDR=0.0.0.0:8080
APP_SHUTDOWN_TIMEOUT=15s

PUBLIC_BASE_URL=https://recap50.ru
RECAP_YEAR=2026

REPOSITORY_OPERATION_TIMEOUT=3s

LOGGER_LEVEL=info
LOGGER_DEVELOPMENT=false

POSTGRES_USER=recap
POSTGRES_PASSWORD=replace-with-a-long-random-password
POSTGRES_DB=recap
POSTGRES_SSL_MODE=disable
POSTGRES_MAX_CONNS=10
POSTGRES_MIN_CONNS=2
POSTGRES_CONNECT_TIMEOUT=5s
